auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=true
public-hoist-pattern[]=@oclif/*
public-hoist-pattern[]=@sanity/*
public-hoist-pattern[]=@emotion/*
public-hoist-pattern[]=stylis
